.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 80%;
  input {
    height: 50px;
    width: 40vw;
    margin-top: 40px;
    padding: 10px;
  }

  ion-button {
    margin-top: 40px;
    span {
      padding-left: 5px;
      padding-top: 3px;
      color: #f3f3f3;
    }
  }
  @media (max-width: 800px) {
    input {
      width: 80vw;
      padding: 6px;
    }
  }
}
