.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 90%;
  input {
    height: 50px;
    width: 40vw;
    margin-top: 40px;
    padding: 10px;
  }
  @media (max-width: 800px) {
    input {
      width: 80vw;
      padding: 6px;
    }
  }
}
