form.entry-point {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top: 2px solid whitesmoke;
  background: whitesmoke;
  input {
    height: 50px;
    width: 100px;
    caret-color: #222428;

    &:first-child {
      width: 450px;
    }
    margin-right: 20px;
    padding-left: 6px;
    &:focus {
      outline: none;
      border-color: #222428;
    }
  }
  @media (max-width: 800px) {
    padding-left: 3px;
    input {
      width: 80px;
      height: 40px;
      &:first-child {
        width: 120px;
      }
      &:focus {
        outline: none;
      }
      &[type="submit"] {
        width: 50px;
      }
    }
  }
}
