.customer-items-list {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .item {
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    .item-details {
    }
  }
}
