.customer-items-list {
  .item {
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    .item-details {
    }
    button {
      padding: 3px;
      height: 30px;
      align-self: center;
      background: none;
      outline: none;
      border: none;
      box-shadow: -3px -3px 5px 2px #101010;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
