form.add-customer {
  display: flex;
  height: 80%;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   margin: 20px 50px;
  .input-group {
    display: flex;
    width: 60%;
    margin: 10px 20px;
    label {
      width: 20%;
      padding: 8px;
    }
    input {
      width: 80%;
      height: 40px;
      &:focus {
        outline: none;
      }
    }
  }

  input[type="file"] {
    display: none;
  }

  input[type="submit"] {
    background: #222428;
    width: 180px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2%;
    color: #fdfdfd;
    padding: 0;
    font-size: 25px;
    &:hover {
      background: #222428f0;
    }
  }

  @media (max-width: 800px) {
    .input-group {
      width: 80%;
      margin: 10px 20px;
      label {
        width: 20%;
        padding: 4px;
      }
      input {
        width: 80%;
        height: 40px;
      }
    }

    input[type="submit"] {
      margin-top: 40px;
      width: 50%;
      height: 35px;
    }
  }
}
